/* 

------1------- header------
-------2------- section 



*/







:root {
    --primary-black:#000;
    --primary-orange: #FF8A56;
}
* {
    outline: 1px solid red
}


@import url('./reset.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

a {
    text-decoration: none;
}


html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;

}

header {
    display: flex;
    /* flex-direction: row; bu istiqameti mueyyenleshdirir: justify-content align-items */
    justify-content: space-between;
    align-items: center; /* cross axis y oxu */
    padding-top: 41px;
    padding-left: 7.03rem;
    padding-right: 112.5px
    /* background-color: red; */
    /* margin-top: 41px; */

}

.fa-bars {
    display: none;
}

header .nav-links a {
    color: var(--primary-black);
}


@media (max-width:950px) {

    header {
        padding-left: 22px;
        padding-right: 22px;
    }


    /* child selector */
    header > nav {
        display: none;
    }

    .fa-bars {
        display: flex;
        font-size: 32px;
        cursor: pointer;
    }


}


/* INTRODUCTION SECTION  */

.introduction {
    padding-left: 112.5px;
    padding-right: 112.5px;
    display: flex;
    flex-wrap: wrap;
}

.intro-left-side {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding-top: 117px;
    min-width: 715px;
}

/* child selector */
.intro-left-side > h1 {
    font-size: 72px;
    margin-top: 0;
    margin-bottom: 0;
}

.intro-left-side > h1 > span {
    color: var(--primary-orange);
}

.intro-left-side p {
    font-size: 22px;
    font-weight: 400;
    color:#666;
    /* text-transform: uppercase; */
}
/* descendant selector */
/* .intro-left-side h1 {

} */

.intro-right-side {
    flex:1;
    display: flex;
    justify-content: flex-end;
    padding-top: 70px;
    min-width: 500px;
}


@media(max-width:1473px) and (min-width:768px) {
    .intro-left-side {
        flex-basis: 100%;
        align-items: center;
    }

    .introduction {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-right-side {
        justify-content: center;
    }
}

@media(max-width:768px) {
    .introduction {
        padding-left: 0;
        padding-right: 0;
    }

    .intro-left-side {
        min-width: 400px;
        text-align: center;
    }

    body {
        overflow-x:hidden;
    }
}